$background-after: #262c31; /* color de fondo hover */
$background-color-card-body: rgb(49, 49, 49);
$background-color-primario: #34495e;
$background-color: #34495e;
$background-image-body: linear-gradient(to bottom, #fdfdfd, #cfcece, #a3a1a1, #787775, #4f4f4d);
$background-imagenNegocio: url(../assets/img/nosotros.jpg);
$background-repeat-imagenNegocio: no-repeat;
$background-secundario: #2c3e50; /* color de fondo */
$background-size-imagenNegocio: cover;
$border:(
    border-boton: 0.125em solid #2c3e50, /* tamaño y color de borde */
    border-color: #000000 #000000 #000000 #000000,
    border-radius-boton: 0.3125em, /* redondear bordes */
    border-style: ridge ridge ridge ridge,
    border-width: 0.05em 0.05em 0.05em 0.05em,
);
$bottom: 0;
$box-sizing: border-box;
$center: center;
$color-a: whitesmoke;
$color-black: black;
$color-fuente-boton: #fff; /* color de fuente */
$color-import: rgb(4, 4, 68);
$color-white: white;
$color-whitesmoke: whitesmoke;
$content: "";
$display-block: block;
$display-flex: flex;
$display-grid: grid;
$flex-direction-column: column;
$flex-wrap: wrap;
$font-family-import:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family: "Nunito Sans", sans-serif;
$font-size-30px: 30px;
$font-size-boton: 3.75em;
$font-size-large:large;
$font-size-nav: 1.25em;
$font-size-titulo-h2: 1.875em;
$font-size-xlarge: x-large;
$font-weight-bold: bold;
$font-weight-bolder: bolder;
$fraccion1: 1fr;
$gap-0em: 0em 0em;
$gap-container: 0em 0.125em;
$gap-containerContacto: 0px 2px;
$grid-area-botonFerreteria: botonFerreteria;
$grid-area-botonHerrajes: botonHerrajes;
$grid-area-botonMaq: botonMaquinaria;
$grid-area-containerError: imagenerror;
$grid-area-formulario: formulario;
$grid-area-imagenFerreteria: imagenFerreteria;
$grid-area-imagenHerrajes: imagenHerrajes;
$grid-area-imagenMapa: imagenMapa;
$grid-area-imagenNegocio: imagenNegocio;
$grid-area-imgFerreteria: imgFerreteria;
$grid-area-imgMaquinaria: imgMaquinaria;
$grid-area-mapa: mapa;
$grid-area-maq: imagenMaquinaria;
$grid-area-textoContacto: textoContacto;
$grid-area-textoError: textoError;
$grid-area-textoFerreteria: textoFerreteria;
$grid-area-textoHerrajes: textoHerrajes;
$grid-area-textoNostoros: textoNosotros;
$grid-areaimgHerrajes: imgHerrajes;
$grid-auto-flow-container: row;
$grid-auto-flow-row: row;
$grid-template-areas-container: "imagenMaquinaria textoAmoladora" "textoHerrajes imagenHerrajes" "imagenFerreteria textoFerreteria";
$grid-template-areas-containerContacto: "imagenMapa formulario";
$grid-template-areas-containerError: "imagenerror textoError";
$grid-template-areas-containerNosotros: "imagenNegocio" "textoNosotros";
$grid-template-areas-Ferreteria: "imgFerreteria imgFerreteria imgFerreteria" "imgFerreteria imgFerreteria imgFerreteria" "botonFerreteria botonFerreteria botonFerreteria";
$grid-template-areas-imagenHerrajes: "imgHerrajes imgHerrajes imgHerrajes" "imgHerrajes imgHerrajes imgHerrajes" "botonHerrajes botonHerrajes botonHerrajes";
$grid-template-areas-imagenMapa: "textoContacto" "mapa";
$grid-template-areas-maq: "imgMaquinaria imgMaquinaria imgMaquinaria" "botonMaquinaria botonMaquinaria botonMaquinaria" "botonMaquinaria botonMaquinaria botonMaquinaria";
$grid-template-columns-1x3: 1fr 1fr 1fr;
$grid-template-columns-container: 1fr 1fr;
$grid-template-columns-containerContacto: 1.4fr 0.6fr;
$grid-template-rows-container: 1fr 1fr 1fr;
$grid-template-rows-containerNosotros: 1fr 0.4fr;
$grid-template-rows-imagenFerreteria: 1fr 1.4fr 0.6fr;
$grid-template-rows-imagenMapa: 0.6fr 1.4fr;
$grid-template-rows-maq: 4fr 0.1fr 1fr;
$gridarea-textoAmoladora: textoAmoladora;
$height-3125: 31.25em;
$height-img-cards: 12.5em;
$height-logo: 12.5em;
$justify-content-end: end;
$justify-content-normal: normal;
$justify-content-space-between: space-between;
$left: -20%;
$margin-1-25-auto: 1.25em auto;
$margin-imagenNegocio: 2.1875em;
$margin-img-cards: 1.25em auto;
$margin-init: 1px;
$margin-left-cards: 6.375em;
$margin-left-containerError: 1.875em;
$margin-left-header: 2.5em;
$margin-left-logo: 4.375em;
$margin-left-textoNosotros: 1.5em;
$margin-right-cards: 3.125em;
$margin-right-header: 2.5em;
$margin-right-logo: 4.375em;
$margin-top-cards: 0.625em;
$margin0px:0px;
$object-fit-contain: contain;
$overflow-hiden: hidden;
$padding-boton-after: 1em 1.25em;
$padding-boton: 0.375em 0.9375em;
$padding-header: 0.625em auto;
$padding-init: 1px;
$position-absolute: absolute;
$position-relative: relative;
$right: -20%;
$text-decoration-none: none;
$text-decoration-underline: underline;
$top: 0;
$transform-after: skewX(45deg) scale(1, 1);
$transform: skewX(45deg) scale(0, 1);
$transition-after: all 0.3s ease-out;
$transition: all 0.3s ease;
$widht-100: 100%;
$width-200px: 200px;
$width-img-cards: 11.25em;
$z-index-1: -1;
$z-index: 1;
